/* Reset default browser styles */
html, body {
    margin: 8;
    padding: 0;
}

/* Global styles */
body {
    font-family: "Times New Roman", serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
}

img {
    height: auto;
    width: 256px;
    border-radius: 25px;
  }

a {
    display: block;
    margin: 10px;
    padding: 0px;
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    width: 150px
}

/* Custom styles */

#backhome {
    display: block;
    margin: 0;
    padding: 0px;
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    width: 150px
}

.no-bullets {
    list-style-type: none;
}

.ingredients {
    background-color: #333333;
    color: #ffffff;
    border-radius: 25px;
    width: 400px
}

.h2 {
    margin-left: 40px;
}