/* 1. Universal Selector (*) */
* {
    margin: 0px;
    padding: 0px;
}

/* 2. Element Type Selector */
html, body {
    margin: 8px;
}

body {
    font-family: "Times New Roman", serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
}

img {
    height: auto;
    width: 256px;
    border-radius: 25px;
  }

a {
    display: block;
    font-size: 24px;
    line-height: 2;
    margin: 12px;
    border-radius: 25px;
    width: 250px;
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}

/* 3. Class Selector */
.center-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.no-bullets {
    list-style-type: none;
}

.ingredients {
    background-color: #333333;
    color: #ffffff;
    border-radius: 25px;
    width: 400px
}

.h2 {
    margin-left: 40px;
}

/* 4. Attribute Selector */
/* Example: [type="text"] { color: red; } */

/* 5. Pseudo-Class Selector */
/* Example: :hover { color: purple; } */

/* 6. ID Selector */
#back-home {
    font-size: 20px;
    width: 200px;
}

/* 8. Important Declarations */
/* Example: div { color: yellow !important; } */